@use '../../scss/base/variables'as v;
@use '../../scss/base/mixins'as m;

.login {
    // background-color: orange;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem;
    
    

    @include m.tablet {
        padding: 0rem
    }

    


    &__switch {
        position: absolute;
        left: 2rem;
        top: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin: 0;
        padding: 0;


    }

}