@use '../../scss/base/mixins'as m;

.register {
    // @include m.form-resp();
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
}

.form {
    @include m.flex-column-center;
    gap: 1rem;
    @include m.form-resp;
}