@use '../../scss/base/mixins'as m;

.register {
    // @include m.form-resp();
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
}

