@use './variables'as v;

/** Media Queries **/
@mixin telefono {
	@media (min-width: v.$telefono) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: v.$tablet) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: v.$desktop) {
		@content;
	}
}

@mixin desktopXL {
	@media (min-width: v.$desktopxl) {
		@content;
	}
}

@mixin form-resp($ancho-maximo: 600px, $espaciado: 20px, $bg-button: v.$primary) {
	max-width: $ancho-maximo;
	margin: 0 auto;
	padding: $espaciado;
	border: 1px solid rgba($color: v.$white, $alpha: .3);
	border-radius: 5%;

	// Estilos para campos de entrada
	input[type="text"],
	input[type="email"],
	input[type="password"],
	textarea,
	select {
		width: 100%;
		padding: 10px;
		margin-bottom: $espaciado / 2;
		border: 1px solid #ccc;
		border-radius: 5px;
		box-sizing: border-box;
		font-size: 16px;

		// Estilos adicionales para enfoque
		&:focus {
			outline: none;
			border-color: blue;
		}
	}

	// Estilos para botones
	button {
		width: 100%;
		padding: 10px;
		border: none;
		border-radius: 5px;
		background-color: $bg-button;
		color: white;
		font-size: 16px;
		cursor: pointer;

		&:hover {
			background-color: darken($bg-button, 10%);
		}
	}

	// Estilos para etiquetas de error
	.error-message {
		color: red;
		font-size: 14px;
	}

}

@mixin button($bgColor, $colorTexto) {
	align-items: center;
	background-color: $bgColor;
	border: none;
	color: $colorTexto;
	display: flex;
	text-decoration: none;
	font-size: 2rem;
	font-weight: 400;
	font-weight: 700;
	justify-content: center;
	margin: 0;
	padding: 1rem 2rem;
	text-align: center;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;

	@include tablet {
		width: auto;
	}

	&:hover {
		background-color: darken($bgColor, 10%);
	}
}

@mixin floating-btn($bg-color, $shadow-color: rgba(0, 0, 0, 0.3)) {
	background-color: $bg-color;
	color: #fff;
	border: none;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	font-size: 24px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
	box-shadow: 0px 4px 8px $shadow-color;
	transition: all 0.3s ease;


	&:hover {
		box-shadow: 0px 6px 12px $shadow-color;
		background-color: darken($color: $bg-color, $amount: 10%);
		transform: translateY(-2px);
	}
}

// Mixin para estilizar un ComboBox con BEM
@mixin custom-select {

	&__wrapper {
		position: relative;
		display: inline-block;
	}

	&__select {
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		background-color: #ffffff;
		border: 1px solid #ced4da;
		border-radius: 0.25rem;
		padding: 0.375rem 2.25rem 0.375rem 0.75rem;
		font-size: 1rem;
		line-height: 1.5;

		&:focus {
			border-color: #80bdff;
			box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
		}
	}

	&__arrow {
		position: absolute;
		top: 50%;
		right: 0.75rem;
		transform: translateY(-50%);
		width: 0;
		height: 0;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-top: 4px solid #555;
	}

	&__select:focus~&__arrow {
		border-top-color: #80bdff;
	}
}

/* Importa el mixin */
@mixin custom-scrollbar($track-color: #ccc, $thumb-color: #999, $thumb-hover-color: #666) {

	&::-webkit-scrollbar {
		width: 1.2rem;
	}

	&::-webkit-scrollbar-track {
		background-color: $track-color;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $thumb-color;
		border-radius: 6px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: $thumb-hover-color;
	}
}


@mixin grid($columnas, $espaciado) {
	display: grid;
	gap: $espaciado;
	grid-template-columns: repeat($columnas, 1fr);
}

@mixin bgImage($url) {
	background-image: url($url);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex-column-center {
	@include flex-center;
	flex-direction: column;
}

@mixin flex-wrap {
	flex-wrap: wrap;
}

@mixin hover($bg-color) {
	&:hover {
		background-color: darken($color: $bg-color, $amount: 10%);

	}
}

@mixin heading {
	text-align: center;

	&::after {
		content: '';
		display: block;
		height: 10rem;
		margin: 0 auto;
		background-image: url(../img/separador.png);
		background-repeat: no-repeat;
		background-position: center center;
	}
}