@use './variables'as v;

/** Media Queries **/
@mixin telefono {
	@media (min-width: v.$telefono) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: v.$tablet) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: v.$desktop) {
		@content;
	}
}

@mixin desktopXL {
	@media (min-width: v.$desktopxl) {
		@content;
	}
}

@mixin form-light($max-width: 50rem, $space: 2rem,
	$bg-button: orange, $bg-form: white, $border-r:5%,
	$border-ri:5px, $border-rb:5px) {
	max-width: $max-width;
	margin: 0 auto;
	padding: $space;
	background-color: $bg-form;
	backdrop-filter: blur(10px);
	border-radius: $border-ri;
	box-shadow: 0px 5px 15px rgba($color: v.$black, $alpha: 0.25);
	transition: all 0.3 ease;


	label {
		font-size: 1.6rem;
		opacity: .8;
	}

	textarea,
	input {
		width: 100%;
		padding: 1rem;
		margin-bottom: 1rem;
		// border: 1px solid #ccc;
		border: 1px solid transparent;
		border-radius: $border-ri;
		font-size: 16px;
		background-color: transparent;
		box-shadow: 0px 0px 4px v.$body-secondary;

		&:focus {
			outline: none;
			border-color: v.$primary;

		}
	}

	button {
		width: 100%;
		margin-bottom: 1rem;
		padding: 10px;
		border: none;
		border-radius: $border-rb;
		background-color: $bg-button;
		color: white;
		font-size: 16px;
		cursor: pointer;

		&:hover {
			background-color: darken($bg-button, 10%);
		}
	}

	div {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 1.6rem;
		margin-top: 1rem;

		a {
			color: #5668D6;
			text-decoration: underline;
			font-weight: 700;
		}

		p {
			margin: 0;
		}
	}

	// Estilos para etiquetas de error
	.error-message {
		color: red;
		font-size: 14px;
	}

}

@mixin form-dark($max-width: 50rem, $space: 2rem,
	$bg-button: orange, $bg-form: white, $border-r:5%,
	$border-ri:5px, $border-rb:5px) {

	@include form-light;

	max-width: $max-width;
	padding: $space;
	background-color: $bg-form;
	border-radius: $border-r;


	textarea,
	input {
		box-shadow: 0px 0px 4px white;
		border-radius: $border-ri;
		color: white;

	}

	button {
		background-color: $bg-button;
		border-radius: $border-rb;
	}
}

@mixin button($bgColor, $colorTexto) {
	align-items: center;
	background-color: $bgColor;
	border: none;
	color: $colorTexto;
	display: flex;
	text-decoration: none;
	font-size: 2rem;
	font-weight: 400;
	font-weight: 700;
	justify-content: center;
	margin: 0;

	padding: 1rem 2rem;
	text-align: center;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
	width: auto;

	@include tablet {
		width: auto;
	}

	&:hover {
		background-color: darken($bgColor, 10%);
	}
}

@mixin button-r($width, $height, $bg-color, $txt-color) {
	@include button($bg-color, $txt-color);
	width: $width;
	height: $height;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;


}

@mixin button-trans($border-color, $txt-color, $bg-hover) {
	@include button(transparent, $txt-color);
	border: 1px solid;
	border-color: $border-color;

	&:hover {
		background-color: rgba($color: $bg-hover, $alpha: 0.3);
	}

}

@mixin c($bg-color, $shadow-color: rgba(0, 0, 0, 0.3)) {
	background-color: $bg-color;
	color: #fff;
	border: none;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	font-size: 24px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
	box-shadow: 0px 4px 8px $shadow-color;
	transition: all 0.3s ease;


	&:hover {
		box-shadow: 0px 6px 12px $shadow-color;
		background-color: darken($color: $bg-color, $amount: 10%);
		transform: translateY(-2px);
	}
}

// Mixin para estilizar un ComboBox con BEM
@mixin custom-select {

	&__wrapper {
		position: relative;
		display: inline-block;
	}

	&__select {
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		background-color: #ffffff;
		border: 1px solid #ced4da;
		border-radius: 0.25rem;
		padding: 0.375rem 2.25rem 0.375rem 0.75rem;
		font-size: 1rem;
		line-height: 1.5;

		&:focus {
			border-color: #80bdff;
			box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
		}
	}

	&__arrow {
		position: absolute;
		top: 50%;
		right: 0.75rem;
		transform: translateY(-50%);
		width: 0;
		height: 0;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-top: 4px solid #555;
	}

	&__select:focus~&__arrow {
		border-top-color: #80bdff;
	}
}

@mixin switch-rounded($slider-width: 24px,
	$slider-height: 14px,
	$slider-background-color: #ccc, $slider-handle-color: #fff, $slider-transition: 0.3s) {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;

	input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	/* The slider */
	span {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		//? el bg es cuando esta a apagado
		background-color: v.$secondary;
		transition: .4s;
		transition: .4s;
		border-radius: 3.4rem;

		&:before {
			position: absolute;
			content: "";
			height: 26px;
			width: 26px;
			left: 4px;
			bottom: 4px;
			background-color: v.$white;
			transition: .4s;
		}
	}

	input:checked+span {
		background-color: v.$primary;
	}

	input:focus+span {
		box-shadow: 0 0 1px #2196F3;
	}

	input:checked+span:before {
		transform: translateX(26px);
	}

	span:before {
		border-radius: 50%;
	}
}

@mixin range-input($track-color: #ccc, $thumb-color: #007bff, $thumb-size: 16px, $thumb-border-radius: 50%) {

	input {
		appearance: none;
		width: 100%;
		height: 15px;
		border-radius: 5px;
		background: #d3d3d3;
		outline: none;
		opacity: 0.7;
		transition: .2s;
		transition: opacity .2s;

	}


	input:hover {
		opacity: 1;
	}

	/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
	input::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background: v.$primary;
		cursor: pointer;
	}

	input::-moz-range-thumb {
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background: #04AA6D;
		cursor: pointer;
	}
}

/* Importa el mixin */
@mixin custom-scrollbar($track-color: #ccc, $thumb-color: #999, $thumb-hover-color: #666) {

	&::-webkit-scrollbar {
		width: 1.2rem;
	}

	&::-webkit-scrollbar-track {
		background-color: $track-color;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $thumb-color;
		border-radius: 6px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: $thumb-hover-color;
	}
}

@mixin border-black {
	border: 1px solid rgba($color: v.$black, $alpha: 0.22);
}

@mixin border-white {
	border: 1px solid rgba($color: v.$white, $alpha: 0.22);

}

@mixin box-shadow-blue {
	box-shadow:
		0px 2px 2px hsl(220deg 60% 50% / 0.2),
		2px 4px 4px hsl(220deg 60% 50% / 0.2),
		4px 8px 8px hsl(220deg 60% 50% / 0.2),
		8px 16px 16px hsl(220deg 60% 50% / 0.2),
		16px 32px 32px hsl(220deg 60% 50% / 0.2);

}

@mixin box-shadow-blue-2 {
	box-shadow:
		0px 0px 2px hsl(220deg 60% 50% / 0.2),
		0px 0px 4px hsl(220deg 60% 50% / 0.2),
		0px 0px 8px hsl(220deg 60% 50% / 0.2),
		8px 16px 16px hsl(220deg 60% 50% / 0.2),
		16px 32px 32px hsl(220deg 60% 50% / 0.2);

}

@mixin grid($columnas, $espaciado) {
	display: grid;
	gap: $espaciado;
	grid-template-columns: repeat($columnas, 1fr);
}

@mixin bgImage($url) {
	background-image: url($url);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex-column-center {
	@include flex-center;
	flex-direction: column;
}

@mixin flex-wrap {
	flex-wrap: wrap;
}

@mixin hover($bg-color) {
	&:hover {
		background-color: darken($color: $bg-color, $amount: 10%);

	}
}

@mixin heading {
	text-align: center;

	&::after {
		content: '';
		display: block;
		height: 10rem;
		margin: 0 auto;
		background-image: url(../img/separador.png);
		background-repeat: no-repeat;
		background-position: center center;
	}
}