@use './variables'as v;

/** Media Queries **/
@mixin telefono {
	@media (min-width: v.$telefono) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: v.$tablet) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: v.$desktop) {
		@content;
	}
}

@mixin desktopXL {
	@media (min-width: v.$desktopxl) {
		@content;
	}
}

@mixin button($bgColor, $colorTexto) {
	align-items: center;
	background-color: $bgColor;
	border: none;
	color: $colorTexto;
	display: flex;
	text-decoration: none;
	font-size: 2rem;
	font-weight: 400;
	font-weight: 700;
	justify-content: center;
	margin: 0;
	padding: 1rem 2rem;
	text-align: center;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;


	@include tablet {
		width: auto;
	}

	&:hover {
		background-color: darken($bgColor, 10%);
	}
}

@mixin grid($columnas, $espaciado) {
	display: grid;
	gap: $espaciado;
	grid-template-columns: repeat($columnas, 1fr);
}

@mixin bgImage($url) {
	background-image: url($url);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex-column-center {
	@include flex-center;
	flex-direction: column;
}

@mixin flex-wrap {
	flex-wrap: wrap;
}

@mixin heading {
	text-align: center;

	&::after {
		content: '';
		display: block;
		height: 10rem;
		margin: 0 auto;
		background-image: url(../img/separador.png);
		background-repeat: no-repeat;
		background-position: center center;
	}
}