@use './mixins'as m;
@use './variables'as v;


.danger {
    background-color: v.$danger;
    text-align: center;
    padding: 1rem;

}

.success {
    background-color: v.$success;
    text-align: center;
    padding: 1rem;

}

.border-light {
    @include m.border-white;
}

.border-dark {
    @include m.border-black;
}

.container {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;

}