// Fuentes
$fuentePrincipal: 'Roboto',
sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$primary: #0D6EFD;
$primary-subtle: #031633;
$secondary: #6C757D;
$secondary-subtle: #161719;
$success: #198754;
$success-subtle:#051B11;
$danger:#DC3545;
$danger-subtle: #2A0A0D;
$warning: #FFC107;
$warning-subtle: #332701;
$info:#0DCAF0;
$info-subtle:#032830;
$light:#F8F9FA;
$light-subtle:#343A40;
$dark:#212529;
$blue-2: #032541;
$blue-dark:#041e33;
$dark-subtle:#1A1D20;
$body-secondary:#33393F;
$body-tertiary:#2A2E33;
$white:#FFFFFF;

$black: #000000;

$theme: 'dark'

/* $bg-primary: #0D6EFD;
$bg-primary-subtle: #031633;
$bg-secondary: #6C757D;
$bg-secondary-subtle: #161719;
$bg-success: #198754;
$bg-success-subtle:#051B11;
$bg-danger:#DC3545;
$bg-danger-subtle: #2A0A0D;
$bg-warning: #FFC107;
$bg-warning-subtle: #332701;
$bg-info:#0DCAF0;
$bg-info-subtle:#032830;
$bg-light:#18191a;
$bg-light-subtle:#343A40;
$bg-dark:#212529;
$bg-dark-subtle:#1A1D20;
$bg-body-secondary:#33393F;
$bg-body-tertiary:#2A2E33;
$bg-white:#212529; */