@use '../../scss/base/variables'as v;
@use '../../scss/base/mixins'as m;

.cart {
    width: 40rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    animation: fadeIn 0.3s ease-in;
    /* Animación de aparición */
    z-index: 1;
    background-color: v.$body-secondary;
    max-width: 45rem;
    padding: 2rem 0;
    border-top-right-radius: 2.6rem;

    &__header {
        width: 100%;
    }

    &__title {
        text-align: center;
        font-size: 2rem;
    }

    &__footer {
        padding: 2rem 2rem 0;

    }

    &__clear-btn {
        @include m.button(v.$danger, v.$white);
        gap: 1rem;
        height: 4rem;
        min-width: 100%;
        margin-bottom: 1rem;
    }


    &__container-del {
        margin: auto 0;
        padding: 0;
        border: 0;

    }

    &__delete {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: v.$danger;
        @include m.hover(v.$danger);
        border-radius: 50%;
        width: 3.5rem;
        height: 3.5rem;
        margin-left: 1rem;

    }

    &__container-table {

        max-height: 45rem;
        padding: 0 1rem;
        overflow-x: hidden;

        //Verificar si la altura es mayor a 400px para agregar el scroll
        @if (45rem) {
            overflow-y: auto;
        }

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #888;
            border-radius: 5px;
        }

        &::-webkit-scrollbar-track {
            background-color: #f1f1f1;
            opacity: 0;
        }

    }

}

.table {
    max-height: 45rem;

    &__row {
        height: 10rem;
        border-bottom: 1px solid v.$secondary;
    }

    &__img {
        max-height: 5rem;
        max-width: 4rem;
    }

    &__th {
        padding-top: 2rem;
    }

    &__td {
        overflow: hidden;
        text-overflow: ellipsis;

        &--title {
            text-overflow: ellipsis;
        }
    }

    &__quantity {
        display: flex;
        align-items: center;
        gap: .5rem
    }

    &__btn {
        @include m.button(v.$primary, v.$white);
        width: 1rem;
        padding: 1rem;
        border-radius: .5rem;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}