@use '../../scss/base/variables'as v;
@use '../../scss/base/mixins'as m;

.filters {
    margin: 0 auto;
    transition: all 0.3s ease;
    margin-top: 2rem;

    @include m.tablet {
        flex-direction: row;
        max-width: 35%;
    }

    &__label,
    &__price-min {
        display: inline-block;
        width: 100%;
        font-size: 1.6rem;
        margin: 0;
        text-align: center;
    }

    &__container-range {

        width: 100%;
        margin: 0;
    }

    &__range {
        @include m.range-input;
    }
}