@use '../../scss/base/mixins'as m;
@use '../../scss/base/variables'as v;

.header {
    // transition: all 0.3s ease;
    transition: all 0.4s ease-out;

    // background-color: red;
    &__nav {
        width: 100%;
        height: 15rem;
    }

    &__btn {
        background-color: v.$secondary;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 1rem;
        top: 1rem;
        z-index: 2;
        margin: 0;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;


        &:hover {
        background-color: darken($color: v.$secondary, $amount: 10);

        }

    }

}