@use '../../scss/base/variables'as v;
@use '../../scss/base/mixins'as m;

.product {
    @include m.grid(3, 1rem);
    gap: 1rem;
    padding: 1rem;
    height: 24rem;
    font-size: 1.6rem;

    &__img {
        min-width: 10rem;
        height: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        grid-column: 1/2;
    }

    &__container-detail {
        height: auto;

        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        grid-column: 2/4;
    }


    &__txt,
    &__title {
        display: block;


    }

    &__title {
        font-size: 1.6rem;
        font-weight: 700;
        display: block;
    }

    &__txt {
        margin-top: .8rem;

    }

    &__span {
        font-weight: normal;
        font-weight: 700;
    }

    &__add-btn {
        margin: 0 auto;
        width: 100%;
    }

    &__label-btn {
        margin-left: .5rem;


    }

}